@media (max-width: 1291px){
  .first{
    &__img{
      margin-right: 0;
    }
  }
  .numbers{
    padding: 0 10px;
    &__items{
      flex-direction: column;
      align-items: center;
    }
    .numbers__item-user,
    .numbers__item-location,
    .numbers__item-server{
      max-width: 100%;
      padding-left: 0;
      padding-top: 80px;
      &::before{
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .numbers__item+.numbers__item {
      
      border-left: none;
    }
    &__item{
      text-align: center;
    }
  }
}



@media (max-width: 1100px){
  .header{
    &-top__menu{
      position: absolute;
      top: 130px;
      left: 0;
      z-index: 10;
      width: 100%;
      margin: 0;
      background-color: #fff;
      padding: 60px 0;
      transform: translateY(-400%);
      transition: all 0.6s;
      &--active{
        transform: translateY(0);
      }
    }
    &-top__menu-list{
      flex-direction: column;
      align-items: center;
    }
    .header-top__list-link{
      font-size: 20px;
    }
    .header-top__list-item+.header-top__list-item {
      margin-left: 0;
    }
    .header-top__list-item{
      margin-bottom: 30px;
    }
    .burger-menu{
      display: block;
      order: 1;
      border: none;
      background-color: transparent;
      padding: 0;
      width: 40px;
      height: 30px;
      position: relative;
      cursor: pointer;
      span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: $title-cl;
      }
      &::before,
      &::after{
        content: '';
        background-color: $title-cl;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
    }
  }
  .plan{
    &__items{
      justify-content: space-between;
    }
    &__list-item{
      padding-left: 35px;
      &::before{
        left: 12px;
      }
    }
    .plan__item+ .plan__item{
      margin-left: 5px;
    }
  }
  .web{
    &__img{
      max-width: 100%;
      min-height: 0%;
    }
    &__text{
      margin-bottom: 100px;
    }
  }
  .partners{
    &__items{
      justify-content: center;
    }
    
  }
  .reviews{
    .slick-slide{
      margin-right: 10px;
    }
    
  }
  .footer{
    padding: 170px 0 10px;
    &__about{
      margin: 0 auto 25px;
      text-align: center;
    }
    &__logo{
      margin: 0 auto 25px;
      width: 149px;
    }
    &__social{
      justify-content: center;
      padding-top: 5px;
    }
    &__links{
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      margin-bottom: 25px;
      width: 100%;
    }
    &__links-list{
      display: none;
      text-align: center;
      /*сворачивает список под заголовком. разворачиваем смотри js*/
    }
    &__links-title{
      pointer-events: auto;
      /*Восстанавливает функциональность элемента по умолчанию. тут применяется для того чтобі включить возможность разворачивать список*/
      cursor: pointer;
      display: inline-block;
      
      position: relative;
      &::after,
      &::before{
        content: '';
        background-color: $body-cl;
        position: absolute;
        top: 11px;
        width: 2px;
        height: 10px;
        
      }
      &::after{
        transform: rotateZ(-40deg);
        right: -18px;
      }
      &::before {
        transform: rotateZ(40deg);
        right:  -24px;
      }
    }
    .footer__links-title.active{
      
      &::after {
        transform: rotateZ(40deg);
        
      }

      &::before {
        transform: rotateZ(-40deg);
        
      }
    }
  }
}

@media (max-width: 991px){
  .first{
    &__content{
      margin-right: 0;
    }
    &__inner {
      min-height: 60vh;
    }
    &__img{
      display: none;
    }
  }
  .services{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__content{
      max-width: 100%;
    }
    &__img{
      max-width: 100%;
    }
    
  }
}
@media (max-width: 768px){
  .header{
    min-height: 125px;
  }
  .header-top{
    padding: 20px 0;
  }
  .first{
    &__content{
      text-align: center;
    }
    
    &__title{
      font-size: 40px;
      line-height: 55px;
      padding-top: 0;
      max-width: 100%;
    }
    &__text{
      margin-bottom: 25px;
    }
  }
  .services{
    padding: 50px 0 66px;
  }
  .title{
    font-size: 30px;
    line-height: 38px;
  }
  .plan{
    &__items{
      flex-direction: column;
    }
    &__item{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  .web {
    padding: 50px 0 20px;
    &__text {
      margin-bottom: 50px;
    }
  }
  .subscribe{
    &__inner{
      padding: 35px 30px;
    }
  }
}
@media (max-width: 600px) {
  .header-top{
   
    &__user-nav{
      width: 100%;
      padding-top: 20px;
      justify-content: flex-end;
    }
    .burger-menu{
      order: 0;
    }
  }
  .first{
    &__title{
      padding-top: 25px;
    }
  }
  .subscribe{
    &__inner{
      flex-direction: column;
    }
    &__btn{
      margin-top: 15px;
    }
  }
}
@media (max-width: 455px){
  .reviews{
    &__slider-item{
      max-width: 268px;
      height: 300px;
    }
    &__append{
      padding-top: 30px;
      margin-right: 0;
    }
    .slick-prev {
      margin-right: 15px;
  }
    .slick-arrow{
      width: 50px;
      height: 50px;
      &::before{
        top: 16px;
        left: 15px;
      }
    }
}
}
@media (max-width: 375px){
  .web {
    &__text {
      margin-bottom: 25px;
    }
  }

}